{% load static %}
<html>

<head>

    <title>MOZ Calculator</title>
    <meta charset="utf-8">

    <link rel="icon" href="{% static 'images/M logo.png' %}">

    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Rubik:ital,wght@1,400;1,800&display=swap" rel="stylesheet">

</head>



<body>
{% block body %}


{% endblock body %}
</body>

</html>